<!doctype html>
<html class="no-js" lang="{{site.lang}}">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/js/uswds-init.min.js" integrity="sha512-Zy/dqU71uCdMWS6VdSqc/+2RjOxbq/ySinrQyLG3wTVWSXtBQpK6/b2Ky6vT2JHuFsNm8yBZMJ8zeMQ/ji2qMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/css/uswds.min.css" integrity="sha512-pB+mNjrbVe3EOCg2eOozwwgUyFg49qm23xXsyHUH1cSYqyvf2Wit8Sv35Rfo2HpIBRV8Z7pPKMjVuXslXewWzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/custom.css" />
</head>

<body class="padding-y-3">
  <main class="grid-container">
    {{ content }}
  </main>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/2.12.0/js/uswds.min.js" integrity="sha512-E8cQqs8stInR6gI5P8lC0cnD0ee00C+XM1vYSCBm9Lr6s20CUQhYi6ZcXpBYE3v17EAXOqxqppkJRzFuOy4P1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', '{{ site.ga }}', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
